n8n-flows/Flujo-Aureo-CORREGIDO-FINAL.json
{
  "name": "Formulario Aureo - FINAL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "formulario-contacto",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "formulario-contacto"
    },
    {
      "parameters": {
        "sendTo": "=andresjulian454k@gmail.com",
        "subject": "=Nuevo Lead - {{ $json.body.nombre_completo }}",
        "message": "=<html><body><h2>Nuevo Lead Recibido</h2><p><strong>Nombre:</strong> {{ $json.body.nombre_completo }}</p><p><strong>Email:</strong> {{ $json.body.correo_electronico }}</p><p><strong>Telefono:</strong> {{ $json.body.numero_telefono }}</p><p><strong>Empresa:</strong> {{ $json.body.nombre_empresa }}</p><p><strong>Proyecto:</strong><br>{{ $json.body.proyecto }}</p></body></html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [440, 300],
      "id": "email-admin",
      "name": "Email Admin",
      "credentials": {
        "gmailOAuth2": {
          "id": "4lJcPKyMRgXp80kV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.correo_electronico }}",
        "subject": "Gracias por contactarnos!",
        "message": "=<html><body><h2>Gracias por contactarnos!</h2><p>Hola {{ $json.body.nombre_completo }},</p><p>Hemos recibido tu mensaje y nos pondremos en contacto contigo pronto.</p><p><strong>Tu mensaje:</strong><br>{{ $json.body.proyecto }}</p><p>Saludos,<br>Equipo Aureo</p></body></html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [640, 300],
      "id": "email-cliente",
      "name": "Email Cliente",
      "credentials": {
        "gmailOAuth2": {
          "id": "4lJcPKyMRgXp80kV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Mensaje recibido correctamente\" }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "response-1",
      "name": "Respuesta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [840, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Email Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Admin": {
      "main": [
        [
          {
            "node": "Email Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Cliente": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}

